.review {
  display: inline-block;
  border: 1px solid green;
  border-radius: 5px;
  padding: 0 5px;
  cursor: pointer;
  background-color: #5a96d8;
}

.stats-review {
  display: flex;
  background-color: #262626;
  
  .cards-wrapper {
    display: inline-block;;
    width: 72%;

    .card-wrapper {
      width: 13em;
      height: auto;
      padding: .8em;
      background-color: #424242;
      border: 2px solid #4c3c28;
      border-radius: 10px;
      box-shadow: 0 0 10px #000;
      margin: 1em;
      color: #fff;
      position: relative;
      display: inline-block;

      .title {
        font-size: 0.9rem;
        font-weight: 700;
        position: relative;
      }

      .ability {
        background-color: #ffa21c;
        color: #fff;
        font-size: .8rem;
        text-shadow: 0 0 3px #8c4e19;
        padding: .2em .4em .1em .3em;
        border-radius: 10px;
        margin-left: .2em;
        position: absolute;
        top: -1.5em;
        right: -1.5em;
      }

      .separator {
        height: 1.1px;
        border-bottom: 1px solid #1d160d;
        margin: .5em 0;
      }

      .equip-btn {
        background-color: #2e563e;
        color: #fff;
        font-size: 15px;
        text-shadow: 0 0 3px #8c4e19;
        padding: .2em .4em .1em .3em;
        border-radius: 10px;
        margin-left: .2em;
        position: absolute;
        bottom: -8px;
        right: -15px;
        padding-bottom: 6px;
        cursor: pointer;
      }

      .substats-wrapper {
        min-height: 75px;
      }

      .sub-stat {
        font-size: .8rem;
        font-weight: 900;
        color: #7db3e2;
      }

      .slot-icon {
        margin-right: .2em;
        width: 17px;
        height: 17px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: inline-block;
        position: relative;
        margin-bottom: -2px;
      }

      .weapon {
        background-image: url('../assets/slots/slot_weapon.png');
      }

      .level {
        color: #ffa21c;
      }

      .key {
        display: inline-block;
        width: 70%;
        text-align: left;
      }

      .value {
        display: inline-block;
        width: 30%;
        text-align: right;
      }
    }
  }
}